/*Эффект плавного перехода*/
	{
		-webkit-transition: all ease-out 0.3s;
		-moz-transition: all ease-out 0.3s;
		-o-transition: all ease-out 0.3s;
		transition: all ease-out 0.3s;
	}
/* Для стрелок OWL Carousel */

.arrow-next:after
	{
		content:"\f105";
		right:30px;
	}
.arrow-prev:after
	{
		content:"\f104";
		left:30px;
	}
.arrow:after
	{
		font-family:"FontAwesome";
		position:absolute;
		top:50%;
		transform:translateY(-50%);
		font-size:3em;
		z-index:1000;
		padding:10px;
		cursor:pointer;
	}
.arrow:hover:after
	{
		color:#999;
	}

/* Смена цвета у плайсхолдера */

   input[type="search"]::-moz-placeholder { color: #ffd595; }
   input[type="search"]::-webkit-input-placeholder { color: #ffd595; }
   input[type="search"]:-ms-input-placeholder { color: #ffd595; }
   input[type="search"]::-ms-input-placeholder { color: #ffd595; }
   input[type="search"]::placeholder { color: #ffd595; } 
